/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

//$font-stack: Helvetica, sans-serif;

//$base-font-size: 14px;
//$base-line-height: 22px;
//$measure: 760px;


$font-stack: Helvetica, sans-serif;

$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
